@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
    font-family: "Roboto", sans-serif;
}
html {
    --primary: #1f2933;
    --secondary: #f5f7fa;
    --dark: #1d2025;

    --bg: #2e2e2e;
    --border: #eec9a4;
}
body {
    background-color: var(--dark);
    color: var(--secondary);
    margin: 0;
}
header {
    background-color: var(--primary);
    width: 100%;
    height: 52px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 52px;
    padding-left: 10px;
    padding-right: 10px;
}

header ul li {
    display: inline;
    line-height: 52px;
}
#sort-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    font-weight: 300;
}
#sort-bar div {
    width: 100%;
    text-align: center;
    padding: 7px 0;
}
#sort-options {
    background-color: var(--dark);
    z-index: 1;
    display: block;
    position: fixed;
    width: 50vw;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0;
    top: 83px;
    transform: scaleY(1);
    transition: 0.2s ease;
    opacity: 1;
    transform-origin: top;
    visibility: visible;
}
#sort-options.collapse {
    transform: scaleY(0) !important;
    visibility: hidden;
    opacity: 0;
}
#sort-options li {
    display: block;
    height: 31px;
    line-height: 31px;
    border: #171e25;
    padding-left: 5px;
    margin: 5px;
}

#sort-direction {
    vertical-align: middle;
}
#sort-icon {
    width: 15px;
}
#current-sort {
    padding: 0 15px;
}
#current-sort:active,
#sort-direction:active,
#sort-options li:active {
    background-color: #181a1f;
}
#hamburger-icon {
    vertical-align: middle;
}

#plus-text {
    display: none;
}
#plus-div {
    transition-duration: 0.2s;
    display: inline-block;
    line-height: 52px;
}
#plusbar1,
#plusbar2 {
    width: 32px;
    height: 5px;
    border: 1px solid var(--border);
    border-radius: 23px;
    background-color: transparent;
}
#plusbar2 {
    transform: rotate(90deg);
}
#plusbar1 {
    position: absolute;
}

#hamburger-icon {
    display: inline-block;
    cursor: pointer;
}

#bar1,
#bar2,
#bar3 {
    width: 32px;
    height: 5px;
    background-color: transparent;
    border: 1px solid var(--border);
    margin: 2px 0;
    vertical-align: middle;
    border-radius: 23px;
    transition: 0.4s;
}
/* Rotate first bar */
.change#bar1 {
    -webkit-transform: rotate(-45deg) translate(-5.5px, 5.5px);
    transform: rotate(-45deg) translate(-5.5px, 5.5px);
}

/* Fade out the second bar */
.change#bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change#bar3 {
    -webkit-transform: rotate(45deg) translate(-7.5px, -7px);
    transform: rotate(45deg) translate(-7.5px, -7px);
}

.header-list li:nth-child(2),
.header-list li:last-child {
    display: none;
}
.header-list li:nth-child(4) {
    z-index: 100;
}

h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
    text-align: center;
}

h3 {
    margin: 0;
}

#sidenav {
    background-color: var(--primary);
    width: 100%;
    height: calc(100%-52px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    z-index: 15;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.hide-nav {
    -webkit-transform: translateX(-620px) translateZ(0);
    -moz-transform: translateX(-620px) translateZ(0);
    -o-transform: translateX(-620px) translateZ(0);
    transform: translateX(-620px) translateZ(0);
    will-change: transform;
}

#sidenav::-webkit-scrollbar {
    width: 15px;
}
#sidenav::-webkit-scrollbar-track {
    background: var(--dark);
}
#sidenav::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 9px;
    border: 4px solid transparent;
    background-clip: content-box;
    /* width: 15px; */
}
#new-project {
    margin: 0 auto;
    height: 32px;
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid var(--border);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
    color: white;
    background-color: var(--bg);
}
#new-project span {
    font-size: 30px;
    line-height: 28px;
    margin-right: 5px;
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}
.sidenav-project {
    font-weight: 500;
    font-size: 19px;
    margin-left: -11px;
}

.expand-dropdown {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 18px;
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
}

.not-expanded .sidenav-todo {
    display: none;
}

.sidenav-todo {
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 300;
    transition-duration: 0.5s;
}

.hidden {
    display: none !important;
}
.darken {
    background-color: transparent !important;
    box-shadow: inset 0px 0px 0px 2px var(--border);
}

#modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
    z-index: 100;
    display: block;
    overflow-y: scroll;
    touch-action: none;
}
.modal-content {
    margin-top: 12px;
    position: relative;
}
#modal-header-new,
#modal-header-edit {
    display: inline-block;
    color: var(--dark);
    text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border), 1px 1px 0 var(--border);
    font-size: 30px;
    margin-left: 38px;
}

#modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: right;
    margin-top: 14px;
}

.formItem {
    width: 80vw;
    height: 65px;
    background-color: transparent;
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 32px;
    color: white;
    text-indent: 5px;
}
#submit {
    background-color: var(--bg);
    color: var(--border);
    font-weight: 300;
    border-radius: 35px;
}

::placeholder {
    opacity: 1;
    color: var(--secondary);
}

#description {
    height: 30vh;
    resize: vertical;
}
.modal-priority,
.priority {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.modal-priority {
    position: relative;
}

.modal-priority label {
    position: absolute;
    font-size: 15px;
    top: -9px;
    background-color: var(--dark);
    left: 16px;
    padding-right: 5px;
    color: var(--border);
}

#project-modal.hidden {
    display: initial !important;
    width: 60vw;
    height: 110px;
    visibility: hidden;
    opacity: 0;
}

#project-modal {
    position: fixed;
    visibility: visible;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-right: 25px;
    z-index: 20;
    width: 70vw;
    height: 120px;
    background-color: var(--dark);
    box-shadow: 0 0 30px 5px black;
    opacity: 1;
    transition-duration: 0.4s;
}
#new-project-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#project-input {
    display: block;
    color: var(--secondary);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--border);
    height: 30px;
    padding-left: 5px;
    font-size: 18px;
}
#project-input::placeholder {
    color: var(--secondary);
    /* padding-left: 5px; */
}
#project-submit,
#project-edit-submit {
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: var(--bg);
    color: var(--secondary);
    font-weight: 600;
    border: 1px solid var(--border);
    border-radius: 35px;
    margin-top: 5px;
}

table {
    border: 2px solid var(--border);
    border-radius: 25px;
}

td {
    border-left: 2px solid var(--border);
    /* width: 20px;
    height: 20px; */
}

td:nth-child(1) {
    border-left: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

td:nth-child(3) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.priority-1 td:nth-child(2),
.priority-1 td:nth-child(3) {
    background-color: transparent !important;
}
.priority-2 td:nth-child(3) {
    background-color: transparent !important;
}
.modal-priority span,
.priority span {
    height: 70%;
    width: 30%;
}
.todo-completed:focus {
    outline: yellow;
}

.completed-item {
    text-decoration: line-through;
    opacity: 0.6;
}
#priority-1 {
    background-color: #693e3e;
}
#priority-2 {
    background-color: #6b2525;
}
#priority-3 {
    background-color: #6f0000;
}
.todo-item {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--bg);
    transition-duration: 0.2s;
}

.todo-secondary {
    padding-top: 7px;
    margin-top: 7px;
    border-top: var(--border) 1px solid;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.26s ease;
}
.collapsed {
    background: transparent;
}
.collapsed .todo-secondary {
    display: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
}
.todo-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-label {
    position: relative;
}

.checkbox-label > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid var(--border);
    border-radius: 4px;
    /*  */
    transition-duration: 0.3s;
    background-color: transparent;
    cursor: pointer;
}

.checkbox-label > input:checked {
    background-color: var(--bg);
}

.checkbox-label > input:checked + span::before {
    content: "\e013";
    display: block;
    text-align: center;
    color: var(--dark);
    position: absolute;
    left: 7.7px;
    top: 8px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-shadow: -0.7px -0.7px 0 var(--border), 0.7px -0.7px 0 var(--border), -0.7px 0.7px 0 var(--border),
        0.7px 0.7px 0 var(--border);
    cursor: pointer;
}

.glyphicon-trash {
    color: var(--border);
    font-size: 18px;
    position: relative;
    left: -14px;
}

#todo-list,
#completed-todo-list {
    width: 97vw;
    margin: 0 auto;
    margin-top: 40px;
}
#completed-todo-list {
    margin-top: 10px;
    overflow-x: hidden;
}
#clear-button {
    margin-left: 5px;
    display: block;
    margin-top: 20px;
    background: transparent;
    border: none;
    color: #808080;
    font-size: 16px;
    text-decoration: underline;
}
.priority {
    width: 68px;
    height: 26px;
}
.todo-title {
    font-size: 19px;
    position: relative;
    transition-duration: 0.2s;
}
@keyframes strike {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.completed .todo-title {
    opacity: 0.6;
}
.completed .todo-title::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--secondary);
    animation-name: strike;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.completed .todo-date {
    opacity: 0.6;
}
.full-todo-title {
    font-weight: 400;
}
.todo-date {
    width: 100px;
    font-size: 16px;
    font-weight: 300;
    transition-duration: 0.2s;
}
.todo-desc {
    font-weight: 300;
    display: table;
    overflow-wrap: anywhere;
    word-wrap: anywhere;
}
.kebab {
    float: right;
    position: relative;
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
}
.sidenav-kebab {
    float: left;
    position: relative;
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    cursor: pointer;
    top: 0;
    left: -5px;
}
.sidenav-kebab .kebab-dropdown {
    top: 15px;
    left: 0;
    right: 0;
}
.kebab::after,
.sidenav-kebab::after {
    content: "\2807";
    font-size: 20px;
    font-weight: 900;
    color: var(--border);
}

.kebab-dropdown {
    position: absolute;
    list-style: none;
    top: 15px;
    right: 8px;
    z-index: 10;
    width: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.kebab-dropdown li {
    margin-top: 11px;
}
.kebab-dropdown li button {
    background-color: var(--dark);
    color: var(--border);
    font-size: 16px;
    font-weight: 300;
    border: 1px solid var(--border);
    box-shadow: 0px 0px 10px 0px #051416;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

/* Large Devices */

@media (max-width: 360px) {
    #description {
        height: 123px;
    }
    #submit {
        height: 50px;
    }
}

@media (min-width: 600px) {
    #body{
        width: 60vw;
        margin: 0 auto;
    }
    #todo-list, #completed-todo-list{
        width: 100%;
    }
    h1 {
        display: initial;
        /* margin-left: 3vw; */
        font-weight: 900;
        font-size: 62px;
        color: var(--primary);
        text-shadow: -1px -1px 0 var(--border), 1px -1px 0 var(--border), -1px 1px 0 var(--border),
            1px 1px 0 var(--border);
    }
    h2 {
        font-size: 35px;
        /* margin-left: 23vw; */
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
        width: unset;
    }
    header {
        height: 99px;
    }
    header ul {
        justify-content: space-evenly;
    }
    header ul li {
        margin-top: 25px;
    }

    #hamburger-icon {
        position: relative;
        margin-left: -2px;
        /* margin-left: 25px; */
    }

    #plus-div {
        margin-top: 6px;
        line-height: 25px;
        cursor: pointer;
        transition-duration: 0.2s;
        /* margin-left: 1vw; */
    }

    #plus-text {
        display: initial;
        font-size: 20px;
        margin-right: 10px;
        color: var(--secondary);
        font-weight: 800;
    }
    #plus-div:hover {
        background-color: var(--dark);
    }
    #plus-div:hover #plus-text {
        color: var(--secondary);
    }
    #sidenav {
        width: 300px;
        height: calc(100% - 100px);
    }
    .header-list li:nth-child(2),
    .header-list li:last-child {
        display: initial;
    }

    .todo-main,
    .todo-item {
        cursor: pointer;
    }

    #modal {
        width: 582px;
        height: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid var(--border);
        overflow-y: auto;
    }
    #modal-content {
        margin-top: 0;
        position: relative;
        height: 100%;
    }
    #modal-header-new,
    #modal-header-edit {
        margin-top: 14px;
    }
    #modal-form {
        display: grid;
        flex-direction: column;
        justify-content: center;
        clear: right;
        margin-top: 14px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 100px 100px 100px;
        justify-items: center;
        align-items: unset;
    }
    .formItem {
        width: 80%;
    }
    .formItem.title {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #description {
        height: 200px;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .formItem.duedate {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 3;
        font-size: 25px;
    }
    .formItem.modal-priority {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    #submit,
    #edit {
        grid-row-start: 3;
        grid-column-start: 2;
        margin-top: 38px;
    }
}
