@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
html {
    --scrollbarBG: #0b5351;
    --thumbBG: #092327;
}
body {
    background-color: #092327;
    color: white;
    margin: 0;
}
header {
    background-color: #0b5351;
    width: 100%;
    height: 52px;
}

header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 52px;
    padding-left: 10px;
    padding-right: 10px;
}

header ul li{
    display: inline;
    line-height: 52px;
}
#plus-icon,
#hamburger-icon {
    vertical-align: middle;
}

#plus-text{
    display: none;
}
#plus-div, #plus-icon{
    transition-duration: 0.2s;
}
#plus-icon{
    width: 26px;
    height: 26px;
    /* transition-duration: 0.2s; */
}

#hamburger-icon{
    display: inline-block;
    cursor: pointer;
}

#bar1, #bar2, #bar3{
    width: 32px;
    height: 6px;
    background-color: var(--thumbBG);
    margin: 2px 0;
    vertical-align: middle;
    border-radius: 23px;
    transition: 0.4s;
}
/* Rotate first bar */
.change#bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.5px, 3.5px);
    transform: rotate(-45deg) translate(-4.5px, 3.5px);
  }
  
  /* Fade out the second bar */
  .change#bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change#bar3 {
    -webkit-transform: rotate(45deg) translate(-7.5px, -7px);
    transform: rotate(45deg) translate(-7.5px, -7px);
  }

.header-list li:nth-child(2){
    display: none;
}

h2 {
    font-weight: 400;
    padding: 0;
    margin: 0;
    
}

h3 {
    margin: 0;
}

#sidenav {
    background-color: #0f3c43;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

#sidenav::-webkit-scrollbar {
    width: 15px;
}
#sidenav::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
#sidenav::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 4px solid var(--scrollbarBG);
}

.sidenav-project{
    font-weight: 500;
    font-size: 20px;
    margin: 10px auto;
}

.expand-dropdown{
    float: right;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 18px;
    color: var(--thumbBG);
}

.not-expanded .sidenav-todo{
    display: none;
}

.sidenav-todo{
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 300;
    transition-duration: 0.5s;
}

.hidden{
    display: none;
}
table{
    display: inline;
}
table td{
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    border: 3px solid var(--scrollbarBG);
    border-radius: 25px;
    
  }

  #modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--scrollbarBG);
    z-index: 100;
    display: none;
    overflow-y: scroll;
  }
  #exit-modal{
      float: right;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 25px;
      transform: rotate(45deg) scale(1.5);
  }
  #modal-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      clear: right;
  }

  .formItem{
    width: 90vw;
    height: 8vh;
    background-color: var(--thumbBG);
    border: none;
    margin-bottom: 10px;
    font-size: 32px;
    color: white;
    text-indent: 5px;
  }
  .submit{
      border: 9px solid var(--thumbBG);
      background-color: transparent;
      color: var(--thumbBG);
      font-weight: 900;
  }

  ::placeholder{
      opacity: 1;
      color: var(--scrollbarBG);
  }

  .description{
      height: 45vh;
      resize: vertical;
  }
  .modal-priority, .priority{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }
  
  .priority span:nth-child(1){
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  .priority span:nth-child(3){
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  .modal-priority span, .priority span{
      height: 70%;
      width: 30%;
      background-color: wheat;
  }

  #priority-1{
      background-color: #0F3C43;
  }
  #priority-2{
      background-color: #087260;
  }
  #priority-3{
      background-color: #66A078;
  }
  .todo-item{
      padding: 5px;
      border: 5px solid var(--scrollbarBG);
  }

  .todo-secondary{
    padding-top: 7px;
    margin-top: 7px;
    border-top: var(--scrollbarBG) 1px solid;
  }
  .collapsed .todo-secondary{
      display: none;
      
  }
  .todo-main{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #todo-list{
      width: 97vw;
      margin: 0 auto;
      margin-top: 20px;
  }
  .priority{
    width: 68px;
    height: 26px;
}
.todo-title{
    
    font-size: 19px;
}
.todo-date{
    width: 100px;
    font-size: 16px;
    font-weight: 100;
}

#edit-item{
    float: right;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

 
/* Large Devices */

@media (min-width: 600px) {
    h1 {
        display: initial;
        /* margin-left: 3vw; */
        font-weight: 900;
        font-size: 62px;
        color: var(--thumbBG);
    }
    h2{
        font-size: 35px;
        /* margin-left: 23vw; */
    }
    header{
        height: 99px;
    }
    header ul{
        justify-content: space-evenly;
    }
    header ul li{
        margin-top: 25px;
    }

    #hamburger-icon{
        position: relative;
        margin-left: -2px;
        /* margin-left: 25px; */
    }

    #plus-div{
        border: 5px solid var(--thumbBG);
        border-radius: 25px;
        margin-top: 6px;
        line-height: 25px;
        cursor: pointer;
        transition-duration: 0.2s;
        /* margin-left: 1vw; */
    }

    #plus-icon{
        margin-left: 9px;
        transform: none;
        /* vertical-align: middle; */
        margin-bottom: 4px;
        margin-right: 4px;
        transition-duration: 0.2s;
        height: 18px;
    }
    #plus-text{
        display: initial;
        font-size: 20px;
        margin-right: 10px;
        color: var(--thumbBG);
        font-weight: 800;
    }
    #plus-div:hover{
        background-color: var(--thumbBG);
    }
    #plus-div:hover #plus-text, #plus-div:hover #plus-icon{
        color: var(--scrollbarBG);
    }
    #plus-div:hover #Line_5, #plus-div:hover #Line_6{
        stroke: var(--scrollbarBG);
    }
    #sidenav {
        width: 300px;
    }
    .header-list li:nth-child(2){
        display: initial;
    }
}
